@import "tailwindcss";

@config '../tailwind.config.ts';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  body {
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
  }
}

/* Safelist */
@source inline("bg-red-500");
@source inline("bg-orange-500");
@source inline("bg-yellow-500");
@source inline("bg-green-400");
@source inline("bg-green-600");
@source inline("text-red-500");
@source inline("text-orange-500");
@source inline("text-yellow-500");
@source inline("text-green-400");
@source inline("text-green-600");
@source inline("bg-[#4C83EE]");
@source inline("bg-[#5EC169]");
@source inline("bg-[#EAB30A]");
@source inline("bg-[#EF4444]");
@source inline("bg-[#A854F7]");
@source inline("bg-[#DA5697]");
@source inline("bg-[#6269E9]");
@source inline("bg-[#E97A35]");
@source inline("bg-[#54B5A6]");
@source inline("bg-[#51B4D0]");
@source inline("from-red-500");
@source inline("via-orange-500");
@source inline("to-yellow-500");
@source inline("from-yellow-500");
@source inline("via-green-400");
@source inline("to-green-600");

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: hsl(0, 0%, 97%);
  --color-foreground: hsl(0, 0%, 4%);
  --color-primary: hsl(13, 54%, 45%);
  --color-secondary: hsl(7, 75%, 50%);
  --color-muted: hsl(0, 0%, 96%);
  --color-accent: hsl(33, 100%, 94%);
  --color-destructive: hsl(7, 75%, 50%);
  --color-border: hsl(0, 0%, 90%);
  --color-input: hsl(0, 0%, 90%);
  --color-primary-foreground: hsl(0, 0%, 98%);
  --color-secondary-foreground: hsl(0, 0%, 98%);
  --color-muted-foreground: hsl(0, 0%, 45%);
  --color-accent-foreground: hsl(210, 29%, 24%);
  --color-destructive-foreground: hsl(0, 0%, 98%);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  /* DARK THEME WILL BE HANDLED HERE LATER ON */
  /* JUST SET THE BELOW COLORS FOR DARK MODE */
  /* @theme inline {
    --color-background: hsl(0 0% 3.9%);
    --color-foreground: hsl(0 0% 98%);
    --color-primary: hsl(33, 100%, 94%);
    --color-secondary: hsl(0 0% 14.9%);
    --color-muted: hsl(0 0% 14.9%);
    --color-accent: hsl(0 0% 98%);
    --color-destructive: hsl(0 62.8% 30.6%);
    --color-border: hsl(0 0% 14.9%);
    --color-input: hsl(0 0% 14.9%);
    --primary-foreground: hsl(0 0% 9%);
    --secondary-foreground: hsl(0 0% 98%);
    --muted-foreground: hsl(0 0% 63.9%);
    --accent-foreground: hsl(0 0% 98%);
    --destructive-foreground: hsl(0 0% 98%);
  } */
}
